<div class="container">
    <div class="registro">
        <div class="form_re">
            <legend class="mio">SE PARTE DE ESTA EMPRESA</legend><br>
            <form action="" onsubmit="return verifiacadordeEdad();">
                <label>Nombre</label><br>
                <input type="text" name="" id="nombre" required="true"><br>
                <label>Apellidos</label><br>
                <input type="text" name="" id="apellidos" required="true"><br>
                <label>Correo electrónico</label><br>
                <input type="email" name="" id="correo" required="true"><br>
                <label>Fecha de nacimiento</label><br>
                <input type="date" name="" id="fecha_na" required="true"><br>
                <label>Edad</label><br>
                <input type="number" name="" id="edad" required="true"><br> <br>
                <input type="submit" value="Enviar Registro" class="boton_registro">
            </form>
        </div>
    </div>
</div>
