<div class="container">
    <div class="row" id="pag3">
        <div class=" col-6 text_pag3">
            <h3 class="autor_pag3">About company</h3>
            <h1 class="title_pag3">Profesional Garden Care</h1>
            <p class="descrip_pag3">We provide full services in irrigation, landscape, maintenance and professional tree care management. <br> <br> A fifteen acre tree farm and nursery help us to provide our customers with quality plants & trees at affordable pricing. Our lawn care team is trained not only to meet customer expectations.</p> <br> <br>
            <button class="boton_pag3">LEARN MORE</button>
        </div>
        <div class="col-6 image_pag3">
            <img class="img_pag3" src="../../../assets/img/img4.jpg">
        </div>
    </div>

</div>

