<div class="pag">
    <div class="container">
        <div class="princi">
          <figure>
            <img src="../../../assets/img/Maseta.png" alt="" id="maseta">
          </figure>
          <div class="texto">
            <h3 id="des">Native in your home</h3><br>
            <h1 class="titulo_prin">Full Plants <br> Care Services</h1> <br>
            <p id="des2">We provide full & comprehensive services in irrigation, landscape. <br> maintenance and professional tree care management.</p><br>
            <button class="boton_menu">LEARN MORE</button>
          </div>
        </div>
      </div>
      <div class="barra_inferior">
        <div class="barrita_in">
          <p class="numero_pi">150+</p>
          <p> PROYECTS IN <br> PROGRESS </p>
        </div>
        <div class="barrita_in">
          <p class="numero_pi">55+</p>
          <p> AWARDS <br> WINNING </p>
        </div>
        <div class="barrita_in">
          <p class="numero_pi">200+</p>
          <p> PROYECTS <br> FINISHED </p>
        </div>	
        <div class="barrita_in">
          <p class="numero_pi">180+</p>
          <p> SATISFED <br> CLIENTS </p>
        </div>
      </div>
</div>
<servicio></servicio>
<producto></producto>
<registro></registro>
