
<div class="menu">
  <div class="b3 barra">
    <nav class="navbar navbar-expand">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-menu icon men"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#" routerLink="/">Home</a>
              <a class="dropdown-item" href="#" routerLink="servicio">Servicios</a>
              <a class="dropdown-item" href="#" routerLink="producto">Productos</a>
              <a class="dropdown-item" href="#" routerLink="nosotros">Sobre Nosotros</a>
              <a class="dropdown-item" href="#" routerLink="registro">Se Parte de Nosotros</a>
              <a class="dropdown-item" href="#" routerLink="contactos">Contactos</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="b2 barra">
    <a href="#" id="ba2"><img src="../assets/img/logo.png"></a>
  </div>
  <div class="b1 barra">
    <a href="#" id="ba3"><span class="icon-magnifying-glass icon buscar"></span></a>
    <input type="button" class="btn btn-success" value="Iniciar Sesión" *ngIf="!isLogin" routerLink="loginn">
    <input id="CerrarSesión" type="button" class="btn btn-danger" value="Salir" (click)="onLogout()" *ngIf="isLogin">
  </div>
</div>
<footer class="fixed-bottom">
<p id="p">Web@Gian copirigth2020</p>
</footer>
<router-outlet></router-outlet>