<div class="footer">
    <div class="logo">
        <figure>
            <img src="img/logo.png" alt="">
        </figure>
    </div>
    <div class="lista_footer">
        <div class="contacto">
            <h1><span class="icon-phone"></span></h1><br>
            <p><b>VISIT US DAILY:</b></p><br>
            <p>27 Division St, New York, <br> NY 10002, USA</p>
        </div>
        <div class="contacto">
            <h1><span class="icon-phone"></span></h1><br>
            <p><b>VISIT US DAILY:</b></p><br>
            <p>27 Division St, New York, <br> NY 10002, USA</p>
        </div>
        <div class="contacto">
            <h1><span class="icon-phone"></span></h1><br>
            <p><b>VISIT US DAILY:</b></p><br>
            <p>27 Division St, New York, <br> NY 10002, USA</p>
        </div>
        <div class="contacto">
            <h1><span class=" icon-stopwatch"></span></h1><br>
            <div id="reloj" class="reloj">
                00 : 00 : 00 
            </div>
        </div>
    </div>
</div>
