<div class="pag4">
    <div class="Conatiner">
		<div class="general_pag4">
			<div class="texto_pag4">
				<h3 id="text_init_pag4" class="titulo_prin">One Service</h3>
				<h1 class="title_pag4">What Can We Offer</h1><br>
				<p class="des_pag4">Gardenies' mission is to provide opur customers with responsive service <br> and unsurpassed quality at an affordable price.</p>
			</div>
			<div class="lista_pag4"> 
				<div class="li1_pag4">
					<figure><img src="../../../assets/img/img_li1.png"  width="200px"></figure>
					<p><b>Garden Design</b></p>
					<p>We provide full & comprehensive <br> services in irrigation, landscape...</p>
					<p class="andmore_pag4">...AND MORE <span class="icon-arrow-long-right"></span></p>
				</div>
				<div class="li2_pag4">
					<figure><img src="../../../assets/img/img_li2.png" width="200px"></figure>
					<p><b>Garden Design</b></p>
					<p>We provide full & comprehensive <br> services in irrigation, landscape...</p>
					<p class="andmore_pag4">...AND MORE <span class="icon-arrow-long-right"></span></p>
				</div>
				<div class="li3_pag4">
					<figure><img src="../../../assets/img/img_li3.png" width="200px"></figure>
					<p><b>Garden Design</b></p>
					<p>We provide full & comprehensive <br> services in irrigation, landscape...</p>
					<p class="andmore_pag4" width="200px">...AND MORE <span class="icon-arrow-long-right"></span></p>
				</div>
				<div class="li4_pag4">
					<figure><img src="../../../assets/img/img_li4.png"  width="200px"></figure>
					<p><b>Garden Design</b></p>
					<p>We provide full & comprehensive <br> services in irrigation, landscape...</p>
					<p class="andmore_pag4"><a href="">...AND MORE <span class="icon-arrow-long-right"></span></a></p>
				</div>
			</div>
		</div>
	</div>
</div>