<div class="container">
    <div class="pag2_images">
		<figure  class = " imghvr-fade ">
			<figcaption>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus blanditiis cumque in repellendus consectetur. Illum accusantium culpa, dolores natus voluptas, aperiam quae similique soluta, deleniti beatae aspernatur. Ipsam, architecto incidunt.
			</figcaption>
			<div class="image">
				<p class="p_image">Plants</p>
			</div>
		</figure>
		<figure class="imghvr-fade">
			<figcaption>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus blanditiis cumque in repellendus consectetur. Illum accusantium culpa, dolores natus voluptas, aperiam quae similique soluta, deleniti beatae aspernatur. Ipsam, architecto incidunt.
			</figcaption>
			<div class="image2">
				<p class="p_image">Fon Home</p>
			</div>
		</figure>
		<figure class="imghvr-fade">
			<figcaption>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus blanditiis cumque in repellendus consectetur. Illum accusantium culpa, dolores natus voluptas, aperiam quae similique soluta, deleniti beatae aspernatur. Ipsam, architecto incidunt.
			</figcaption>
			<div class="image3">
				<p class="p_image">Fon <br> Ganden</p>
			</div>
		</figure>
	</div>
	<div class="pag2_images">
		<figure  class = " imghvr-fade ">
			<figcaption>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus blanditiis cumque in repellendus consectetur. Illum accusantium culpa, dolores natus voluptas, aperiam quae similique soluta, deleniti beatae aspernatur. Ipsam, architecto incidunt.
			</figcaption>
			<div class="image4">
				<p class="p_image">Plants</p>
			</div>
		</figure>
		<figure class="imghvr-fade">
			<figcaption>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus blanditiis cumque in repellendus consectetur. Illum accusantium culpa, dolores natus voluptas, aperiam quae similique soluta, deleniti beatae aspernatur. Ipsam, architecto incidunt.
			</figcaption>
			<div class="image5">
				<p class="p_image">Fon Home</p>
			</div>
		</figure>
		<figure class="imghvr-fade">
			<figcaption>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus blanditiis cumque in repellendus consectetur. Illum accusantium culpa, dolores natus voluptas, aperiam quae similique soluta, deleniti beatae aspernatur. Ipsam, architecto incidunt.
			</figcaption>
			<div class="image6">
				<p class="p_image">Fon <br> Ganden</p>
			</div>
		</figure>
	</div>
</div>